In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
import pickle

In [3]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# preprocess the data 
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [7]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
# Encode categorical variable
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [10]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [12]:
# one hot encoding Geography
onehot_encoder_geography = OneHotEncoder()
geography_encoded = onehot_encoder_geography.fit_transform(data[['Geography']]).toarray()
geography_encoded_df = pd.DataFrame(geography_encoded,columns=onehot_encoder_geography.get_feature_names_out(['Geography']))
geography_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [13]:
data = pd.concat([data.drop('Geography',axis=1),geography_encoded_df],axis=1)

In [14]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [15]:
# splitting the data in feature and target 
X = data.drop('EstimatedSalary',axis=1)
y= data['EstimatedSalary']

In [16]:
# split the data into the training set and testing set
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

# sclaing these features 
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test =scaler.fit_transform(X_test)

In [18]:
# saving the decoder and the scaler file 
with open('label_encoder_regression_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_regression_geography.pkl','wb') as file:
    pickle.dump(onehot_encoder_geography,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN regression problem statement

In [19]:
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [20]:
# Built the model 
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) #output layer for regrerssion 
])

# compile the model 
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

d:\GenAI\venv\Lib\site-packages\keras\src\layers\core\dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [21]:
# Setting up the tensor board
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping
import datetime

log_dir="regressionlogs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [22]:
# setting up early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [23]:
history = model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 100377.6016 - mae: 100377.6016 - val_loss: 98512.5625 - val_mae: 98512.5625
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99588.0781 - mae: 99588.0781 - val_loss: 96906.0469 - val_mae: 96906.0469
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 96781.1562 - mae: 96781.1562 - val_loss: 92788.3125 - val_mae: 92788.3125
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 91258.1406 - mae: 91258.1406 - val_loss: 85959.1562 - val_mae: 85959.1562
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 83273.7109 - mae: 83273.7109 - val_loss: 77223.5781 - val_mae: 77223.5781
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 74034.4219 - mae: 74034.4219 - val_loss: 68347.6406 - val_mae: 68347.6406
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 65249.2266 - mae: 65249.2266 - val_loss: 60745.8750 - val_mae: 60745.8750
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 58399.7266 - mae: 58399.7266 - val_loss: 55503.5078 - val_mae: 55503.5078
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 54159.1133 - mae: 54159.1133 - val_loss: 52616.4414 - val_mae: 52616.4414
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51969.1680 - mae: 51969.1680 - val_loss: 51327.1641 - val_mae: 51327.1641
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50933.5664 - mae: 50933.5664 - val_loss: 50864.5352 - val_mae: 50864.5352
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50492.2773 - mae: 50492.2773 - val_loss: 50703.3164 - val_mae: 50703.3164
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50285.6445 - mae: 50285.6445 - val_loss: 50638.6953 - val_mae: 50638.6953
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50175.8203 - mae: 50175.8203 - val_loss: 50590.5078 - val_mae: 50590.5078
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50108.3047 - mae: 50108.3047 - val_loss: 50554.0859 - val_mae: 50554.0859
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50063.3828 - mae: 50063.3828 - val_loss: 50528.3711 - val_mae: 50528.3711
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50017.1875 - mae: 50017.1875 - val_loss: 50501.1172 - val_mae: 50501.1172
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49982.2539 - mae: 49982.2539 - val_loss: 50471.3320 - val_mae: 50471.3320
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49944.2656 - mae: 49944.2656 - val_loss: 50459.1953 - val_mae: 50459.1953
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49915.3047 - mae: 49915.3047 - val_loss: 50446.6758 - val_mae: 50446.6758
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49884.5508 - mae: 49884.5508 - val_loss: 50433.9805 - val_mae: 50433.9805
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49858.0391 - mae: 49858.0391 - val_loss: 50417.2227 - val_mae: 50417.2227
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49832.6250 - mae: 49832.6250 - val_loss: 50404.8867 - val_mae: 50404.8867
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49809.1641 - mae: 49809.1641 - val_loss: 50394.6250 - val_mae: 50394.6250
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49788.4297 - mae: 49788.4297 - val_loss: 50384.5625 - val_mae: 50384.5625
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49765.1016 - mae: 49765.1016 - val_loss: 50371.8008 - val_mae: 50371.8008
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49746.5234 - mae: 49746.5234 - val_loss: 50369.8047 - val_mae: 50369.8047
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49730.7539 - mae: 49730.7539 - val_loss: 50364.5586 - val_mae: 50364.5586
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49713.0000 - mae: 49713.0000 - val_loss: 50364.9141 - val_mae: 50364.9141
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49696.5508 - mae: 49696.5508 - val_loss: 50353.2383 - val_mae: 50353.2383
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49682.2031 - mae: 49682.2031 - val_loss: 50352.7305 - val_mae: 50352.7305
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49671.6641 - mae: 49671.6641 - val_loss: 50353.0312 - val_mae: 50353.0312
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49656.1602 - mae: 49656.1602 - val_loss: 50350.0625 - val_mae: 50350.0625
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49644.1289 - mae: 49644.1289 - val_loss: 50347.7422 - val_mae: 50347.7422
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49631.9258 - mae: 49631.9258 - val_loss: 50336.5234 - val_mae: 50336.5234
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49617.5430 - mae: 49617.5430 - val_loss: 50339.8984 - val_mae: 50339.8984
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49607.5547 - mae: 49607.5547 - val_loss: 50330.3086 - val_mae: 50330.3086
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49595.9609 - mae: 49595.9609 - val_loss: 50327.1914 - val_mae: 50327.1914
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49587.6055 - mae: 49587.6055 - val_loss: 50330.3164 - val_mae: 50330.3164
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49576.0391 - mae: 49576.0391 - val_loss: 50327.1328 - val_mae: 50327.1328
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49567.8516 - mae: 49567.8516 - val_loss: 50335.1172 - val_mae: 50335.1172
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49556.7773 - mae: 49556.7773 - val_loss: 50341.1758 - val_mae: 50341.1758
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49548.6250 - mae: 49548.6250 - val_loss: 50333.6523 - val_mae: 50333.6523
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49540.6367 - mae: 49540.6367 - val_loss: 50339.2617 - val_mae: 50339.2617
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49529.2852 - mae: 49529.2852 - val_loss: 50336.8867 - val_mae: 50336.8867
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49524.6328 - mae: 49524.6328 - val_loss: 50337.0625 - val_mae: 50337.0625
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49518.0195 - mae: 49518.0195 - val_loss: 50337.5234 - val_mae: 50337.5234
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49508.4375 - mae: 49508.4375 - val_loss: 50337.4492 - val_mae: 50337.4492
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49499.1289 - mae: 49499.1289 - val_loss: 50338.2031 - val_mae: 50338.2031
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49490.3594 - mae: 49490.3594 - val_loss: 50338.8477 - val_mae: 50338.8477

In [24]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.